<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Assignment 2</title>
	</head>
	<body>
		<form action="/" method="post">
			<input type="hidden" name="action" value="add_customer">
			<fieldset>
				<legend>Customer Information</legend>
				<fieldset>
					<label>Name:
						<input type="text" name="name_input" size="30" maxlength="100"/>
					</label>
				</fieldset>
				</br>
				<fieldset>
					<label>Email:
						<input type="email" name="email_input" size="30" maxlength="100"/>
					</label>
				</fieldset>
				</br>
				<fieldset>
					<label>Password:
						<input type="password" name="password_input" size="30" maxlength="100"/>
					</label>
				</fieldset>
				</br>
				<fieldset>
					<label>Phone Number:
						<input type="text" name="phone_input" size="30" maxlength="100">
					</label>
					</br>
					<label>Phone Type:
					</br>
					<label>
						<input type="radio" name="phone_type" value="home"/>Home</label>
					</br>
					<label>
						<input type="radio" name="phone_type" value="work"/>Work</label>
					</br>
					<label>
						<input type="radio" name="phone_type" value="cell"/>Cell</label>
					</br>
				</fieldset>
				</br>
				<fieldset>
					<label>Sports:
					</br>
					<label>Baseball</label><input type="checkbox" name="sports[]" value="baseball">
					<label>Football</label><input type="checkbox" name="sports[]" value="football">
					<label>Basketball</label><input type="checkbox" name="sports[]" value="basketball">
					<label>Golf</label><input type="checkbox" name="sports[]" value="golf">
					<label>Soccer</label><input type="checkbox" name="sports[]" value="soccer">
					<label>Hockey</label><input type="checkbox" name="sports[]" value="hockey">
				</fieldset>
				</br>					
				<input type="submit" value="Save"/>
			</fieldset>
		</form>
		{% if customers|length > 0 %}
		<section>
			<h2>View Customer</h2>
			{% for c in customers %}
			<a href='/view?key={{ c.key }}'>{{ c.name }}</a>
			{% endfor %}
		</section>
		{% endif %}
	</body>
</html>